<h2>Bienvenido</h2>
{{#if listExists}}
<ul>
    {{#each productos}}
    <li>id: {{this.id}}</li>
    <li>Titulo: {{this.title}}</li>
    <li>Precio: {{this.price}}</li>
    <li>URL: {{this.thumbnail}}</li>
    {{/each}}
</ul>
{{/if}}